/* quick resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* set up the body */
body {
  line-height: 1.5;
  min-height: 100vh;
  text-align: center;
}

/* make the images easier to work with */
img,
picture {
  max-width: 600px;
  width: 100%;
  display: block;
  margin: 0 auto;
}

/* utility classes */
.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}
.container {
  /* no touching the edges of the screen */
  padding: 0 2em;
  max-width: 90vw;
  margin: 0 auto;
}
.description {
  margin-top: 2em;
  margin-bottom: 2em;
  max-width: 700px;
}
/* typography */
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style-type: none;
}
.ingredient-item {
  font-size: 1.25rem;
}
/* layout */
header {
  margin: 2em 0;
  letter-spacing: 1px;
}
.recipe-post-thumb {
  background-color: #ffb703;
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 2em;
}
.recipe-post-thumb p {
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: 0.5px;
}
@media (max-width: 735px) {
  img,
  .recipe-item {
    max-width: 80vw;
  }
}
.container-ingredients {
  margin-bottom: 2em;
}
.container-steps {
  display: grid;
  grid-template-areas: 1fr 1fr 1fr;
}
