/* quick resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* set up the body */
body {
  line-height: 1.5;
  min-height: 100vh;
  text-align: center;
  font-size: 1.1rem;
  background-color: #faedcd;
}

/* make the images easier to work with */
img,
picture {
  max-width: 600px;
  width: 100%;
  display: block;
  margin: 0 auto;
}
.step-img {
  width: 100%;
  max-width: 400px;
}
/* utility classes */
.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}
.container,
table {
  /* no touching the edges of the screen */
  padding: 0 2em;
  max-width: 90vw;
  margin: 0 auto;
}
table {
  margin-bottom: 2em;
  width: 600px;
  max-width: 600px;
  font-weight: 500;
}
@media (max-width: 635px) {
  table {
    display: flex;
    max-width: 90vw;
    margin: 0 auto;
  }
}
.description {
  margin-top: 2em;
  margin-bottom: 2em;
  max-width: 700px;
}
/* typography */
h1 {
  font-size: 3.5rem;
}
h2 {
  font-size: 2rem;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style-type: none;
}
.ingredient-item {
  font-size: 1.25rem;
}
table td {
  font-size: 1.25rem;
}
.accent {
  font-size: 1.3rem;
  font-weight: 700;
  background-color: #283618;
  color: #fefae0;
  font-family: monospace;
}
/* layout */
header {
  margin: 0;
  padding: 1em;
  letter-spacing: 1px;
  background-color: #540b0e;
  color: #e09f3e;
  margin-bottom: 2em;
}

.recipe-post-thumb {
  background-color: #ffb703;
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 2em;
}
.recipe-post-thumb p {
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: 0.5px;
}
@media (max-width: 735px) {
  img,
  .recipe-item {
    max-width: 80vw;
  }
}
.container-ingredients {
  margin-bottom: 2em;
}
@media (max-width: 635px) {
  .container-ingredients {
    overflow: hidden;
  }
}
/* .container-steps {
  display: grid;
  grid-template-areas: 1fr 1fr 1fr;
} */
.container-steps {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  max-width: max-content;
  padding-left: 5%;
}
@media (min-width: 810px) {
  .container-steps {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2em;
  }
}
table tr:nth-child(odd) {
  background-color: #a4ac86;
}
table tr:nth-child(even) {
  background-color: #e9edc9;
}
.accent {
  max-width: max-content;
  padding: 0 0.5em;
  margin: 0 auto;
}
.step {
  background-color: #ffb703;
  max-width: 400px;
  width: 400px;
  margin: 0 auto;
  margin-bottom: 2em;
  padding-bottom: 0.5em;
}
.step-name {
  margin-bottom: 0.5em;
}
.step-item {
  max-width: 60ch;
  margin: 0 auto;
}
